/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-image: url('341homepagebackgroundplant.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
 
h1 {
 color: blue;
 font-family: "Lucida Console", Monaco, monospace;
 font-size: 64px;
 text-shadow: 2px 2px 2px #63114a;
}

h2 { 
  color:magenta;
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace;
}

h3 {
  color: #FFF;
  background-color: #232323;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
  }
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
  color: cyan;
}
nav a:hover {
  color: rgb(3, 99, 243);
}
nav {
  background: cyan;
  background: -moz-linear-gradient(left, #7119A4 0%, #CB42BF 50%, #097567 100%);
  background: -webkit-linear-gradient(left, #7119A4 0%, #CB42BF 50%, #097567 100%);
  background: linear-gradient(to right, #7119A4 0%, #CB42BF 50%, #097567 100%);
  padding: 12px;
}

#neontext {
  color: #FFF;
  background-color: #232323;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
  }

#right-wheel,
#left-wheel {
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
  
@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#man-bike {
  animation: bike 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes bike {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(20deg);
  }
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
background-color: cyan;
}
#main {
transition: margin-left .5s;
padding: 20px;
}
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}