/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 2vh;
  background-color: yellow;
}

 
title {
  color: black
  font-family: "Courier New", Courier, monospace;
}

h1 {
 color: white;
 font-family: "Lucida Console", Monaco, monospace;
 font-size: 18px;
 text-shadow: 2px 2px 2px #63114a;
}

h2 { 
  color: white;
  font-size: 38px;
  font-family: "Franklin Gothic ATF";
  font-weight: "medium";
  font-size:6vw;
  padding: 0px 0px 0px 10px;
}

h3 {
  font-family: "Franklin Gothic ATF";
  font-weight: "medium";color: black;
  font-size: 18px
  }

h4 {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 10px;
}

h5 {
  margin: 0;
  color: cyan;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 2vw;
  font-style: italic;
  padding: 10px 0;

}

.container {
  background-color: black;
  font-color: cyan;
  padding-bottom: 30px;
}

main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
  color: cyan;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px
  
}
nav a:hover {
  color: rgb(3, 99, 243);
}

  .sidepanel {
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.sidepanel a:hover {
    color: cyan;
  }

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .openbtn:hover {
    background-color: #444;
  } 


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 19h;
  width: 100%;
  background-color: cyan;
  color: white;
  text-align: center;
}

.button {
  align: center;
  color: black;
  background-color: yellow;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  border-radius: 16px;
  border-width: 4px;

}

.blackborder {
  background-color: white;
  width: 300px;
  border: 8px solid black;
  padding: 50px;
  margin: 20px;
  align: center;
}

.hometext {
  padding-left: 25px;
  padding-right:25px;
  float: right;
}

  #homeimage {
    display:flex;
  }

.gallery {
 padding: 0px;
}

.container2 {
  display: flex;
}

.item {
  background: #ce8888;
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
}

#Volunteer-box:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes move {
  from{
      opacity:0;
  }
  to{
      opacity:1;
  }
  from { 
      left:0px;
  }
  to{
      left:404px;
  }
}

#moveimg img {
  position: absolute;
  top: 150px;
  left: -404px;
  z-index: 7;
  animation: move 5s;
}