/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  height: 100vh
}
 
.title {
  color: black
  font-family: "Courier"
}
h1 {
 color: magenta;
 font-family: "Lucida Console", Monaco, monospace;
 font-size: 18px;
 text-shadow: 2px 2px 2px #63114a;
}

h2 { 
  color:magenta;
  font-size: 38px;
  font-family: "Lucida Console", Monaco, monospace;
}

h3 {
  color: #FFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
  }

main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
  color: cyan;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px
  
}
nav a:hover {
  color: rgb(3, 99, 243);
}

#neontext {
  color: #FFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
  }

  #right-wheel,
  #left-wheel{
    animation: wheel is ease infinite linear;
    transform-origin center;
    transform-box: fill-box;
  }
  
  @keyframes wheel {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
  .sidepanel {
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.sidepanel a:hover {
    color: cyan;
  }

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  .openbtn:hover {
    background-color: #444;
  } 

  @keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.feedfixbox.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

.feedfixbox.wiggle:hover {
  animation: none;
}
